/* --------------------------------
 Homepage
* ---------------------------------*/

.hero-area {
  background: url('../../../../../images/new/hero-bg.jpg') no-repeat center;
  background-size: cover;
  height: 906px;
  position: relative;
  
  &--wrap {
    position: relative;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
    // flex-wrap: wrap;
    
    img, a {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      top: 82px;
    }

    a {
      top: 742px;
    }

  }

  &--contact-info {
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 30px;
    border: 3px solid $color-gold;
    height: 60px;
    
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      margin: 0 20px;
      padding: 14px 0;
      font-size: 19px;
      
      li {
        margin: 0 20px;
        
        a {
          color: $color-black;
          
        }

        i {
          margin-right: 6px;
        }
      }
    }
  }
}

.home-about {
  position: relative;
  width: 100%;

    &::before {
      content: '';
      background: url('../../../images/new/paint-splashes-left-img.png') no-repeat;
      position: absolute;
      top: 143px;
      left: -50px;
      width: 340px;
      height: 468px;
      z-index: -1;
    }
    &::after {
      content: '';
      background: url('../../../images/new/paint-splashes-right-img.png') no-repeat;
      position: absolute;
      top: 50px;
      right: 0;
      width: 349px;
      height: 520px;
      z-index: -1
    }

  &--card {
    background: #fff;
    display: flex;
    max-width: 1280px;
    justify-content: center;
    margin: 80px auto;
    border: 4px solid $color-burgundy;

    &__left {
      width: 45%;
    }
    &__right {
      width: 55%;
      padding: 0 52px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
        font-family: 'Eliyamoli';
        font-size: 72px;
        text-align: center;
        line-height: .75;
        color: $color-gold;
        font-weight: 600;
        margin-bottom: 32px;
      }

      p {
        font-size: 20px;
        font-family: 'OpenSans-SemiBold';
      }
    }
  }
}


.home-services {
  background: url('../../../images/new/home-services-bg.jpg') no-repeat;
  background-size: cover;
  padding: 70px 0;

  &--title {
    text-align: center;
    font-family: 'TrajanPro-Regular';
    font-size: 64px;
    font-weight: 600;
    line-height: .90;
    letter-spacing: 5px;
  }

  .divider-dotted {
    margin-bottom: 100px;
  }

  &--wrap {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
  }

  &--item {
    width: 33.333%;
    margin: 0 20px;
    color: #fff;
    text-align: center;
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    min-height: 388px;
    justify-content: center;
    align-content: start;

    h3 {
      font-family: 'Eliyamoli';
      font-size: 50px;
      text-align: center;
    }

    p {
      text-align: center;
      margin-bottom: 20px;
      font-family: 'OpenSans-Bold';
    }

    .services-item-memorial {
      margin-top: 23px;
    }

    .btn {
      margin: 0 auto;
      text-align: center;
      align-content: flex-end;
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &--item-burial {
    background: url('../../../images/new/home-services-item-img-1.jpg') no-repeat;
    background-size: cover;
  }
  &--item-interments {
    background: url('../../../images/new/home-services-item-img-2.jpg') no-repeat;
    background-size: cover;
  }
  &--item-memorials {
    background: url('../../../images/new/home-services-item-img-3.jpg') no-repeat;
    background-size: cover;
     }
}

.home-gallery {
  padding: 80px 0;
  
  &--wrap {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
  }

  &--item {
    width: 33.333%;
    margin: 0 26px;

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}